#url path to running veraPDF-rest
#pridani custom properties to .yml
#https://stackoverflow.com/questions/49771099/how-to-get-string-from-config-yml-file-in-dropwizard-resource
#https://www.dropwizard.io/en/latest/manual/core.html#configuration

logging:
  level: INFO
  loggers:
    dropwizard: DEBUG
server:
  applicationConnectors:
    - type: http
      port: 8080
  adminConnectors:
    - type: http
      port: 8081



stagpdfa:
  exceptions:
    - 6.1.2
    - 6.3.2
    - 6.1.7
    - 6.2.2
  pathToSentFilesFolder:
    #skolni linux server
    #- logs/files/
    #na windows
    #- D:\\tmp\\
    - logs/files/
  urlToVeraPDFrest:
    - http://HOST:PORT/api/validate/auto
  databaseUrlJdbc:
    - jdbc:sqlite:sample.db
#    - jdbc:postgresql://HOST/DB?user=USER&password=PASS
  cleanDatabaseTableAtStart:
  # parameters: true or false
    - true
  delayProcessingTheRequest:
  #parameters: true or false
    - false
  testSwitch:
    #parameters: deff, f31, f32, f4, f5, f6
    - f5
  inputStramProcessor:
    #parameters: InputStreamProcessor, oldInputStreamProcessor
    - InputStreamProcessor
  javaMail:
   - skautfoto@vagunda.eu               #user - is used only if "user_authentization"==true
   - portal35                           #pass - is used only if "user_authentization"==true"
   - v_vagunda@utb.cz                   #from
   - vojta@vagunda.eu                   #to
   - smtp.utb.cz                        #host - for gmail: smtp.gmail.com
   - 25                                 #port - for gmail: 587
   - false                              #user_authentization - If "host"==smtp.utb.cz then set "user_authentization" on {false} in other cases set on {true}